service-stubs/org.wso2.carbon.rm.stub/src/main/resources/RMAdminGlobal.wsdl

<!--
 ~ Copyright (c) 2005-2010, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
 ~
 ~ WSO2 Inc. licenses this file to you under the Apache License,
 ~ Version 2.0 (the "License"); you may not use this file except
 ~ in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~    http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied.  See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
 -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd"
                  xmlns:ax240="http://global.rm.carbon.wso2.org/xsd" xmlns:ns="http://global.rm.carbon.wso2.org"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  targetNamespace="http://global.rm.carbon.wso2.org">
    <wsdl:documentation>RMAdminGlobal</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax241="http://global.rm.carbon.wso2.org/xsd" attributeFormDefault="qualified"
                   elementFormDefault="qualified" targetNamespace="http://global.rm.carbon.wso2.org">
            <xs:import namespace="http://global.rm.carbon.wso2.org/xsd"/>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:anyType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="setParameters">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="parameters" nillable="true" type="ax241:RMParameterBean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getParametersResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax241:RMParameterBean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://global.rm.carbon.wso2.org/xsd">
            <xs:complexType name="RMParameterBean">
                <xs:all>
                    <xs:element minOccurs="0" name="acknowledgementInterval" type="xs:long"/>
                    <xs:element minOccurs="0" name="connectionString" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="driverName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="exponentialBackoff" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="inactiveTimeoutValue" type="xs:long"/>
                    <xs:element minOccurs="0" name="inactivityTimeoutInterval" type="xs:long"/>
                    <xs:element minOccurs="0" name="inactivityTimeoutMeasure" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="maximumRetransmissionCount" type="xs:int"/>
                    <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="retransmissionInterval" type="xs:long"/>
                    <xs:element minOccurs="0" name="sequenceRemovalTimeoutInterval" type="xs:long"/>
                    <xs:element minOccurs="0" name="sequenceRemovalTimeoutMeasure" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="sequenceRemovalTimeoutValue" type="xs:long"/>
                    <xs:element minOccurs="0" name="storageManager" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"/>
                </xs:all>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getParametersRequest"/>
    <wsdl:message name="getParametersResponse">
        <wsdl:part name="parameters" element="ns:getParametersResponse"/>
    </wsdl:message>
    <wsdl:message name="setParametersRequest">
        <wsdl:part name="parameters" element="ns:setParameters"/>
    </wsdl:message>
    <wsdl:portType name="RMAdminGlobalPortType">
        <wsdl:operation name="getParameters">
            <wsdl:input message="ns:getParametersRequest" wsaw:Action="urn:getParameters"/>
            <wsdl:output message="ns:getParametersResponse" wsaw:Action="urn:getParametersResponse"/>
        </wsdl:operation>
        <wsdl:operation name="setParameters">
            <wsdl:input message="ns:setParametersRequest" wsaw:Action="urn:setParameters"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="RMAdminGlobalSoap11Binding" type="ns:RMAdminGlobalPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getParameters">
            <soap:operation soapAction="urn:getParameters" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setParameters">
            <soap:operation soapAction="urn:setParameters" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="RMAdminGlobalSoap12Binding" type="ns:RMAdminGlobalPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getParameters">
            <soap12:operation soapAction="urn:getParameters" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setParameters">
            <soap12:operation soapAction="urn:setParameters" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="RMAdminGlobalHttpBinding" type="ns:RMAdminGlobalPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getParameters">
            <http:operation location="getParameters"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getParameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getParameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setParameters">
            <http:operation location="setParameters"/>
            <wsdl:input>
                <mime:content type="text/xml" part="setParameters"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="RMAdminGlobal">
        <wsdl:port name="RMAdminGlobalHttpSoap11Endpoint" binding="ns:RMAdminGlobalSoap11Binding">
            <soap:address location="http://10.100.1.215:9763/services/RMAdminGlobal.RMAdminGlobalHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="RMAdminGlobalHttpSoap12Endpoint" binding="ns:RMAdminGlobalSoap12Binding">
            <soap12:address
                    location="http://10.100.1.215:9763/services/RMAdminGlobal.RMAdminGlobalHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="RMAdminGlobalHttpEndpoint" binding="ns:RMAdminGlobalHttpBinding">
            <http:address location="http://10.100.1.215:9763/services/RMAdminGlobal.RMAdminGlobalHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>