service-stubs/org.wso2.carbon.rm.stub/src/main/resources/RMAdminService.wsdl

<!--
 ~ Copyright (c) 2005-2010, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
 ~
 ~ WSO2 Inc. licenses this file to you under the Apache License,
 ~ Version 2.0 (the "License"); you may not use this file except
 ~ in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~    http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied.  See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
 -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd"
                  xmlns:ns="http://service.rm.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:ax238="http://service.rm.carbon.wso2.org/xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  targetNamespace="http://service.rm.carbon.wso2.org">
    <wsdl:documentation>RMAdminService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax239="http://service.rm.carbon.wso2.org/xsd" attributeFormDefault="qualified"
                   elementFormDefault="qualified" targetNamespace="http://service.rm.carbon.wso2.org">
            <xs:import namespace="http://service.rm.carbon.wso2.org/xsd"/>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:anyType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="setParameters">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="parameters" nillable="true" type="ax239:RMParameterBean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isRMEnabled">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isRMEnabledResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getParameters">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getParametersResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax239:RMParameterBean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="enableRM">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="disableRM">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ConfigurePermenentStorage">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="connectionString" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="driver" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://service.rm.carbon.wso2.org/xsd">
            <xs:complexType name="RMParameterBean">
                <xs:all>
                    <xs:element minOccurs="0" name="acknowledgementInterval" type="xs:long"/>
                    <xs:element minOccurs="0" name="exponentialBackoff" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="inactiveTimeoutValue" type="xs:long"/>
                    <xs:element minOccurs="0" name="inactivityTimeoutInterval" type="xs:long"/>
                    <xs:element minOccurs="0" name="inactivityTimeoutMeasure" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="maximumRetransmissionCount" type="xs:int"/>
                    <xs:element minOccurs="0" name="retransmissionInterval" type="xs:long"/>
                    <xs:element minOccurs="0" name="sequenceRemovalTimeoutInterval" type="xs:long"/>
                    <xs:element minOccurs="0" name="sequenceRemovalTimeoutMeasure" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="sequenceRemovalTimeoutValue" type="xs:long"/>
                </xs:all>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="isRMEnabledRequest">
        <wsdl:part name="parameters" element="ns:isRMEnabled"/>
    </wsdl:message>
    <wsdl:message name="isRMEnabledResponse">
        <wsdl:part name="parameters" element="ns:isRMEnabledResponse"/>
    </wsdl:message>
    <wsdl:message name="getParametersRequest">
        <wsdl:part name="parameters" element="ns:getParameters"/>
    </wsdl:message>
    <wsdl:message name="getParametersResponse">
        <wsdl:part name="parameters" element="ns:getParametersResponse"/>
    </wsdl:message>
    <wsdl:message name="enableRMRequest">
        <wsdl:part name="parameters" element="ns:enableRM"/>
    </wsdl:message>
    <wsdl:message name="disableRMRequest">
        <wsdl:part name="parameters" element="ns:disableRM"/>
    </wsdl:message>
    <wsdl:message name="ConfigurePermenentStorageRequest">
        <wsdl:part name="parameters" element="ns:ConfigurePermenentStorage"/>
    </wsdl:message>
    <wsdl:message name="setParametersRequest">
        <wsdl:part name="parameters" element="ns:setParameters"/>
    </wsdl:message>
    <wsdl:portType name="RMAdminServicePortType">
        <wsdl:operation name="isRMEnabled">
            <wsdl:input message="ns:isRMEnabledRequest" wsaw:Action="urn:isRMEnabled"/>
            <wsdl:output message="ns:isRMEnabledResponse" wsaw:Action="urn:isRMEnabledResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getParameters">
            <wsdl:input message="ns:getParametersRequest" wsaw:Action="urn:getParameters"/>
            <wsdl:output message="ns:getParametersResponse" wsaw:Action="urn:getParametersResponse"/>
        </wsdl:operation>
        <wsdl:operation name="enableRM">
            <wsdl:input message="ns:enableRMRequest" wsaw:Action="urn:enableRM"/>
        </wsdl:operation>
        <wsdl:operation name="disableRM">
            <wsdl:input message="ns:disableRMRequest" wsaw:Action="urn:disableRM"/>
        </wsdl:operation>
        <wsdl:operation name="ConfigurePermenentStorage">
            <wsdl:input message="ns:ConfigurePermenentStorageRequest" wsaw:Action="urn:ConfigurePermenentStorage"/>
        </wsdl:operation>
        <wsdl:operation name="setParameters">
            <wsdl:input message="ns:setParametersRequest" wsaw:Action="urn:setParameters"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="RMAdminServiceSoap11Binding" type="ns:RMAdminServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="isRMEnabled">
            <soap:operation soapAction="urn:isRMEnabled" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getParameters">
            <soap:operation soapAction="urn:getParameters" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="enableRM">
            <soap:operation soapAction="urn:enableRM" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="disableRM">
            <soap:operation soapAction="urn:disableRM" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="setParameters">
            <soap:operation soapAction="urn:setParameters" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="ConfigurePermenentStorage">
            <soap:operation soapAction="urn:ConfigurePermenentStorage" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="RMAdminServiceSoap12Binding" type="ns:RMAdminServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="isRMEnabled">
            <soap12:operation soapAction="urn:isRMEnabled" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getParameters">
            <soap12:operation soapAction="urn:getParameters" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="enableRM">
            <soap12:operation soapAction="urn:enableRM" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="disableRM">
            <soap12:operation soapAction="urn:disableRM" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="setParameters">
            <soap12:operation soapAction="urn:setParameters" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="ConfigurePermenentStorage">
            <soap12:operation soapAction="urn:ConfigurePermenentStorage" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="RMAdminServiceHttpBinding" type="ns:RMAdminServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="isRMEnabled">
            <http:operation location="isRMEnabled"/>
            <wsdl:input>
                <mime:content type="text/xml" part="isRMEnabled"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="isRMEnabled"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getParameters">
            <http:operation location="getParameters"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getParameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getParameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="enableRM">
            <http:operation location="enableRM"/>
            <wsdl:input>
                <mime:content type="text/xml" part="enableRM"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="disableRM">
            <http:operation location="disableRM"/>
            <wsdl:input>
                <mime:content type="text/xml" part="disableRM"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="setParameters">
            <http:operation location="setParameters"/>
            <wsdl:input>
                <mime:content type="text/xml" part="setParameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="ConfigurePermenentStorage">
            <http:operation location="ConfigurePermenentStorage"/>
            <wsdl:input>
                <mime:content type="text/xml" part="ConfigurePermenentStorage"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="RMAdminService">
        <wsdl:port name="RMAdminServiceHttpSoap11Endpoint" binding="ns:RMAdminServiceSoap11Binding">
            <soap:address
                    location="http://10.100.1.215:9763/services/RMAdminService.RMAdminServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="RMAdminServiceHttpSoap12Endpoint" binding="ns:RMAdminServiceSoap12Binding">
            <soap12:address
                    location="http://10.100.1.215:9763/services/RMAdminService.RMAdminServiceHttpSoap12Endpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>