components/caching/org.wso2.carbon.caching.ui/src/main/resources/CachingAdminService.wsdl

<!--
 ~ Copyright (c) 2005-2010, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
 ~
 ~ WSO2 Inc. licenses this file to you under the Apache License,
 ~ Version 2.0 (the "License"); you may not use this file except
 ~ in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~    http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied.  See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
 -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ax216="http://caching.carbon.wso2.org/xsd" xmlns:ns="http://service.caching.carbon.wso2.org" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://service.caching.carbon.wso2.org">
    <wsdl:documentation>CachingAdminService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax217="http://service.caching.carbon.wso2.org" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://caching.carbon.wso2.org/xsd">
            <xs:import namespace="http://service.caching.carbon.wso2.org"/>
            <xs:complexType name="CachingComponentException">
                <xs:complexContent>
                    <xs:extension base="ax217:Exception">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="CachingConfigData">
                <xs:all>
                    <xs:element minOccurs="0" name="expTime" type="xs:long"/>
                    <xs:element minOccurs="0" name="maxCacheSize" type="xs:int"/>
                    <xs:element minOccurs="0" name="maxMsgSize" type="xs:int"/>
                    <xs:element minOccurs="0" name="xmlIdentifier" nillable="true" type="xs:string"/>
                </xs:all>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax218="http://caching.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.caching.carbon.wso2.org">
            <xs:import namespace="http://caching.carbon.wso2.org/xsd"/>
            <xs:complexType name="Exception">
                <xs:all>
                    <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:anyType"/>
                </xs:all>
            </xs:complexType>
            <xs:element name="CachingComponentException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="CachingComponentException" nillable="true" type="ax216:CachingComponentException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isCachingGloballyEnabledResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isCachingEnabledForService">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isCachingEnabledForServiceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isCachingEnabledForOperation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="operationName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isCachingEnabledForOperationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="globallyEngageCaching">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="confData" nillable="true" type="ax216:CachingConfigData"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getGlobalCachingPolicyResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax216:CachingConfigData"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCachingPolicyForService">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCachingPolicyForServiceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax216:CachingConfigData"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCachingPolicyForOperation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="operationName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCachingPolicyForOperationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax216:CachingConfigData"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="engageCachingForService">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="confData" nillable="true" type="ax216:CachingConfigData"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="engageCachingForOperation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="operationName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="confData" nillable="true" type="ax216:CachingConfigData"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="engageCachingForOperationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="disengageCachingForService">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="disengageCachingForOperation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="operationName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="disengageCachingForOperationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="globallyEngageCachingRequest">
        <wsdl:part name="parameters" element="ns:globallyEngageCaching"/>
    </wsdl:message>
    <wsdl:message name="CachingComponentException">
        <wsdl:part name="parameters" element="ns:CachingComponentException"/>
    </wsdl:message>
    <wsdl:message name="isCachingEnabledForServiceRequest">
        <wsdl:part name="parameters" element="ns:isCachingEnabledForService"/>
    </wsdl:message>
    <wsdl:message name="isCachingEnabledForServiceResponse">
        <wsdl:part name="parameters" element="ns:isCachingEnabledForServiceResponse"/>
    </wsdl:message>
    <wsdl:message name="getGlobalCachingPolicyRequest"/>
    <wsdl:message name="getGlobalCachingPolicyResponse">
        <wsdl:part name="parameters" element="ns:getGlobalCachingPolicyResponse"/>
    </wsdl:message>
    <wsdl:message name="engageCachingForServiceRequest">
        <wsdl:part name="parameters" element="ns:engageCachingForService"/>
    </wsdl:message>
    <wsdl:message name="disengageGlobalCachingRequest"/>
    <wsdl:message name="engageCachingForOperationRequest">
        <wsdl:part name="parameters" element="ns:engageCachingForOperation"/>
    </wsdl:message>
    <wsdl:message name="engageCachingForOperationResponse">
        <wsdl:part name="parameters" element="ns:engageCachingForOperationResponse"/>
    </wsdl:message>
    <wsdl:message name="disengageCachingForServiceRequest">
        <wsdl:part name="parameters" element="ns:disengageCachingForService"/>
    </wsdl:message>
    <wsdl:message name="isCachingGloballyEnabledRequest"/>
    <wsdl:message name="isCachingGloballyEnabledResponse">
        <wsdl:part name="parameters" element="ns:isCachingGloballyEnabledResponse"/>
    </wsdl:message>
    <wsdl:message name="disengageCachingForOperationRequest">
        <wsdl:part name="parameters" element="ns:disengageCachingForOperation"/>
    </wsdl:message>
    <wsdl:message name="disengageCachingForOperationResponse">
        <wsdl:part name="parameters" element="ns:disengageCachingForOperationResponse"/>
    </wsdl:message>
    <wsdl:message name="getCachingPolicyForServiceRequest">
        <wsdl:part name="parameters" element="ns:getCachingPolicyForService"/>
    </wsdl:message>
    <wsdl:message name="getCachingPolicyForServiceResponse">
        <wsdl:part name="parameters" element="ns:getCachingPolicyForServiceResponse"/>
    </wsdl:message>
    <wsdl:message name="isCachingEnabledForOperationRequest">
        <wsdl:part name="parameters" element="ns:isCachingEnabledForOperation"/>
    </wsdl:message>
    <wsdl:message name="isCachingEnabledForOperationResponse">
        <wsdl:part name="parameters" element="ns:isCachingEnabledForOperationResponse"/>
    </wsdl:message>
    <wsdl:message name="getCachingPolicyForOperationRequest">
        <wsdl:part name="parameters" element="ns:getCachingPolicyForOperation"/>
    </wsdl:message>
    <wsdl:message name="getCachingPolicyForOperationResponse">
        <wsdl:part name="parameters" element="ns:getCachingPolicyForOperationResponse"/>
    </wsdl:message>
    <wsdl:portType name="CachingAdminServicePortType">
        <wsdl:operation name="globallyEngageCaching">
            <wsdl:input message="ns:globallyEngageCachingRequest" wsaw:Action="urn:globallyEngageCaching"/>
            <wsdl:fault message="ns:CachingComponentException" name="CachingComponentException" wsaw:Action="urn:globallyEngageCachingCachingComponentException"/>
        </wsdl:operation>
        <wsdl:operation name="isCachingEnabledForService">
            <wsdl:input message="ns:isCachingEnabledForServiceRequest" wsaw:Action="urn:isCachingEnabledForService"/>
            <wsdl:output message="ns:isCachingEnabledForServiceResponse" wsaw:Action="urn:isCachingEnabledForServiceResponse"/>
            <wsdl:fault message="ns:CachingComponentException" name="CachingComponentException" wsaw:Action="urn:isCachingEnabledForServiceCachingComponentException"/>
        </wsdl:operation>
        <wsdl:operation name="getGlobalCachingPolicy">
            <wsdl:input message="ns:getGlobalCachingPolicyRequest" wsaw:Action="urn:getGlobalCachingPolicy"/>
            <wsdl:output message="ns:getGlobalCachingPolicyResponse" wsaw:Action="urn:getGlobalCachingPolicyResponse"/>
            <wsdl:fault message="ns:CachingComponentException" name="CachingComponentException" wsaw:Action="urn:getGlobalCachingPolicyCachingComponentException"/>
        </wsdl:operation>
        <wsdl:operation name="engageCachingForService">
            <wsdl:input message="ns:engageCachingForServiceRequest" wsaw:Action="urn:engageCachingForService"/>
            <wsdl:fault message="ns:CachingComponentException" name="CachingComponentException" wsaw:Action="urn:engageCachingForServiceCachingComponentException"/>
        </wsdl:operation>
        <wsdl:operation name="disengageGlobalCaching">
            <wsdl:input message="ns:disengageGlobalCachingRequest" wsaw:Action="urn:disengageGlobalCaching"/>
            <wsdl:fault message="ns:CachingComponentException" name="CachingComponentException" wsaw:Action="urn:disengageGlobalCachingCachingComponentException"/>
        </wsdl:operation>
        <wsdl:operation name="engageCachingForOperation">
            <wsdl:input message="ns:engageCachingForOperationRequest" wsaw:Action="urn:engageCachingForOperation"/>
            <wsdl:output message="ns:engageCachingForOperationResponse" wsaw:Action="urn:engageCachingForOperationResponse"/>
            <wsdl:fault message="ns:CachingComponentException" name="CachingComponentException" wsaw:Action="urn:engageCachingForOperationCachingComponentException"/>
        </wsdl:operation>
        <wsdl:operation name="disengageCachingForService">
            <wsdl:input message="ns:disengageCachingForServiceRequest" wsaw:Action="urn:disengageCachingForService"/>
            <wsdl:fault message="ns:CachingComponentException" name="CachingComponentException" wsaw:Action="urn:disengageCachingForServiceCachingComponentException"/>
        </wsdl:operation>
        <wsdl:operation name="isCachingGloballyEnabled">
            <wsdl:input message="ns:isCachingGloballyEnabledRequest" wsaw:Action="urn:isCachingGloballyEnabled"/>
            <wsdl:output message="ns:isCachingGloballyEnabledResponse" wsaw:Action="urn:isCachingGloballyEnabledResponse"/>
            <wsdl:fault message="ns:CachingComponentException" name="CachingComponentException" wsaw:Action="urn:isCachingGloballyEnabledCachingComponentException"/>
        </wsdl:operation>
        <wsdl:operation name="disengageCachingForOperation">
            <wsdl:input message="ns:disengageCachingForOperationRequest" wsaw:Action="urn:disengageCachingForOperation"/>
            <wsdl:output message="ns:disengageCachingForOperationResponse" wsaw:Action="urn:disengageCachingForOperationResponse"/>
            <wsdl:fault message="ns:CachingComponentException" name="CachingComponentException" wsaw:Action="urn:disengageCachingForOperationCachingComponentException"/>
        </wsdl:operation>
        <wsdl:operation name="getCachingPolicyForService">
            <wsdl:input message="ns:getCachingPolicyForServiceRequest" wsaw:Action="urn:getCachingPolicyForService"/>
            <wsdl:output message="ns:getCachingPolicyForServiceResponse" wsaw:Action="urn:getCachingPolicyForServiceResponse"/>
            <wsdl:fault message="ns:CachingComponentException" name="CachingComponentException" wsaw:Action="urn:getCachingPolicyForServiceCachingComponentException"/>
        </wsdl:operation>
        <wsdl:operation name="isCachingEnabledForOperation">
            <wsdl:input message="ns:isCachingEnabledForOperationRequest" wsaw:Action="urn:isCachingEnabledForOperation"/>
            <wsdl:output message="ns:isCachingEnabledForOperationResponse" wsaw:Action="urn:isCachingEnabledForOperationResponse"/>
            <wsdl:fault message="ns:CachingComponentException" name="CachingComponentException" wsaw:Action="urn:isCachingEnabledForOperationCachingComponentException"/>
        </wsdl:operation>
        <wsdl:operation name="getCachingPolicyForOperation">
            <wsdl:input message="ns:getCachingPolicyForOperationRequest" wsaw:Action="urn:getCachingPolicyForOperation"/>
            <wsdl:output message="ns:getCachingPolicyForOperationResponse" wsaw:Action="urn:getCachingPolicyForOperationResponse"/>
            <wsdl:fault message="ns:CachingComponentException" name="CachingComponentException" wsaw:Action="urn:getCachingPolicyForOperationCachingComponentException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CachingAdminServiceSoap11Binding" type="ns:CachingAdminServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="globallyEngageCaching">
            <soap:operation soapAction="urn:globallyEngageCaching" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="CachingComponentException">
                <soap:fault use="literal" name="CachingComponentException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="isCachingEnabledForService">
            <soap:operation soapAction="urn:isCachingEnabledForService" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CachingComponentException">
                <soap:fault use="literal" name="CachingComponentException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getGlobalCachingPolicy">
            <soap:operation soapAction="urn:getGlobalCachingPolicy" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CachingComponentException">
                <soap:fault use="literal" name="CachingComponentException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="engageCachingForService">
            <soap:operation soapAction="urn:engageCachingForService" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="CachingComponentException">
                <soap:fault use="literal" name="CachingComponentException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="disengageGlobalCaching">
            <soap:operation soapAction="urn:disengageGlobalCaching" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="CachingComponentException">
                <soap:fault use="literal" name="CachingComponentException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="engageCachingForOperation">
            <soap:operation soapAction="urn:engageCachingForOperation" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CachingComponentException">
                <soap:fault use="literal" name="CachingComponentException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="disengageCachingForOperation">
            <soap:operation soapAction="urn:disengageCachingForOperation" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CachingComponentException">
                <soap:fault use="literal" name="CachingComponentException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="isCachingGloballyEnabled">
            <soap:operation soapAction="urn:isCachingGloballyEnabled" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CachingComponentException">
                <soap:fault use="literal" name="CachingComponentException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="disengageCachingForService">
            <soap:operation soapAction="urn:disengageCachingForService" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="CachingComponentException">
                <soap:fault use="literal" name="CachingComponentException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="isCachingEnabledForOperation">
            <soap:operation soapAction="urn:isCachingEnabledForOperation" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CachingComponentException">
                <soap:fault use="literal" name="CachingComponentException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCachingPolicyForService">
            <soap:operation soapAction="urn:getCachingPolicyForService" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CachingComponentException">
                <soap:fault use="literal" name="CachingComponentException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCachingPolicyForOperation">
            <soap:operation soapAction="urn:getCachingPolicyForOperation" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CachingComponentException">
                <soap:fault use="literal" name="CachingComponentException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CachingAdminServiceSoap12Binding" type="ns:CachingAdminServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="globallyEngageCaching">
            <soap12:operation soapAction="urn:globallyEngageCaching" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="CachingComponentException">
                <soap12:fault use="literal" name="CachingComponentException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="isCachingEnabledForService">
            <soap12:operation soapAction="urn:isCachingEnabledForService" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CachingComponentException">
                <soap12:fault use="literal" name="CachingComponentException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getGlobalCachingPolicy">
            <soap12:operation soapAction="urn:getGlobalCachingPolicy" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CachingComponentException">
                <soap12:fault use="literal" name="CachingComponentException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="engageCachingForService">
            <soap12:operation soapAction="urn:engageCachingForService" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="CachingComponentException">
                <soap12:fault use="literal" name="CachingComponentException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="disengageGlobalCaching">
            <soap12:operation soapAction="urn:disengageGlobalCaching" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="CachingComponentException">
                <soap12:fault use="literal" name="CachingComponentException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="engageCachingForOperation">
            <soap12:operation soapAction="urn:engageCachingForOperation" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CachingComponentException">
                <soap12:fault use="literal" name="CachingComponentException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="disengageCachingForOperation">
            <soap12:operation soapAction="urn:disengageCachingForOperation" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CachingComponentException">
                <soap12:fault use="literal" name="CachingComponentException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="isCachingGloballyEnabled">
            <soap12:operation soapAction="urn:isCachingGloballyEnabled" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CachingComponentException">
                <soap12:fault use="literal" name="CachingComponentException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="disengageCachingForService">
            <soap12:operation soapAction="urn:disengageCachingForService" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="CachingComponentException">
                <soap12:fault use="literal" name="CachingComponentException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="isCachingEnabledForOperation">
            <soap12:operation soapAction="urn:isCachingEnabledForOperation" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CachingComponentException">
                <soap12:fault use="literal" name="CachingComponentException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCachingPolicyForService">
            <soap12:operation soapAction="urn:getCachingPolicyForService" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CachingComponentException">
                <soap12:fault use="literal" name="CachingComponentException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCachingPolicyForOperation">
            <soap12:operation soapAction="urn:getCachingPolicyForOperation" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CachingComponentException">
                <soap12:fault use="literal" name="CachingComponentException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CachingAdminServiceHttpBinding" type="ns:CachingAdminServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="globallyEngageCaching">
            <http:operation location="globallyEngageCaching"/>
            <wsdl:input>
                <mime:content type="text/xml" part="globallyEngageCaching"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="isCachingEnabledForService">
            <http:operation location="isCachingEnabledForService"/>
            <wsdl:input>
                <mime:content type="text/xml" part="isCachingEnabledForService"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="isCachingEnabledForService"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getGlobalCachingPolicy">
            <http:operation location="getGlobalCachingPolicy"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getGlobalCachingPolicy"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getGlobalCachingPolicy"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="engageCachingForService">
            <http:operation location="engageCachingForService"/>
            <wsdl:input>
                <mime:content type="text/xml" part="engageCachingForService"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="disengageGlobalCaching">
            <http:operation location="disengageGlobalCaching"/>
            <wsdl:input>
                <mime:content type="text/xml" part="disengageGlobalCaching"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="engageCachingForOperation">
            <http:operation location="engageCachingForOperation"/>
            <wsdl:input>
                <mime:content type="text/xml" part="engageCachingForOperation"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="engageCachingForOperation"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="disengageCachingForOperation">
            <http:operation location="disengageCachingForOperation"/>
            <wsdl:input>
                <mime:content type="text/xml" part="disengageCachingForOperation"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="disengageCachingForOperation"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="isCachingGloballyEnabled">
            <http:operation location="isCachingGloballyEnabled"/>
            <wsdl:input>
                <mime:content type="text/xml" part="isCachingGloballyEnabled"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="isCachingGloballyEnabled"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="disengageCachingForService">
            <http:operation location="disengageCachingForService"/>
            <wsdl:input>
                <mime:content type="text/xml" part="disengageCachingForService"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="isCachingEnabledForOperation">
            <http:operation location="isCachingEnabledForOperation"/>
            <wsdl:input>
                <mime:content type="text/xml" part="isCachingEnabledForOperation"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="isCachingEnabledForOperation"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCachingPolicyForService">
            <http:operation location="getCachingPolicyForService"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getCachingPolicyForService"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getCachingPolicyForService"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCachingPolicyForOperation">
            <http:operation location="getCachingPolicyForOperation"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getCachingPolicyForOperation"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getCachingPolicyForOperation"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CachingAdminService">
        <wsdl:port name="CachingAdminServiceHttpsSoap11Endpoint" binding="ns:CachingAdminServiceSoap11Binding">
            <soap:address location="https://10.180.7.249:9443/services/CachingAdminService.CachingAdminServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="CachingAdminServiceHttpsSoap12Endpoint" binding="ns:CachingAdminServiceSoap12Binding">
            <soap12:address location="https://10.180.7.249:9443/services/CachingAdminService.CachingAdminServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="CachingAdminServiceHttpsEndpoint" binding="ns:CachingAdminServiceHttpBinding">
            <http:address location="https://10.180.7.249:9443/services/CachingAdminService.CachingAdminServiceHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>